html {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.game-container {
    width: min-content;
    transform: scale(1);
}

.header {
    text-align: center;
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    padding: 1%;
    background-color: #4a752c;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.score-text {
    color: #ffffff;
}

.button {
    cursor: pointer;
}

.bottom-container {
    border-width: 25px;
    border-style: solid;
    border-color: #578a34;
    width: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    width: 40px;
    height: 40px;
}

.light-square {
    background-color: #aad751;
}

.dark-square {
    background-color: #a2d149;
}

.right {
    margin-left: auto;
}

.score-text {
    font-size: 20px;
}

.top-icon {
    height: 40px;
}

.apple {
    width: 100%;
}

.fullscreen {
    transform: scale(1.5);
}

.menu-icon-containers {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 30.5%;
    top: 15%;
    gap: 50%;
}

.menu-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    position: absolute;
    top: 20%;
    left: 30%;
    border: none;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.menu-img {
    border-radius: 15px;
    background-color: #71c9f0;
    margin-bottom: 5%;
}

.play-button {
    /* position: absolute; */
    font-size: 20px;
    padding: 5%;
    padding-left: 25%;
    padding-right: 25%;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    background-color: #1155cc;
}

.key-tip {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 100px;
    height: 100px;
    padding: 2%;
    border-radius: 20px;
    background-color: #00000070;
}