html {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
}

.centre {
    margin-left: auto;
    margin-right: auto;
}

.game-container {
    width: min-content;
    transform: scale(1);
}

.header {
    text-align: center;
}

.top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
    padding: 1%;
    background-color: #4a752c;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.score-text {
    color: #ffffff;
}

.button {
    cursor: pointer;
}

.bottom-container {
    border-width: 25px;
    border-style: solid;
    border-color: #578a34;
    width: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    width: 40px;
    height: 40px;
}

.light-square {
    background-color: #aad751;
}

.dark-square {
    background-color: #a2d149;
}

.right {
    margin-left: auto;
}

.score-text {
    font-size: 20px;
}

.apple {
    max-width: 100%;
    max-height: 100%;
}

.header-icon {
    height: 40px;
}

.fullscreen {
    transform: scale(1.5);
}